<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{385,539}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{385,539}}</string>
                <key>sourceSize</key>
                <string>{393,553}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>textLayer.png</string>
            <key>size</key>
            <string>{389,543}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c455b9cff3eb74db51320a883f8f253c$</string>
            <key>textureFileName</key>
            <string>textLayer.png</string>
        </dict>
    </dict>
</plist>
