<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CovertTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{357,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,108}}</string>
                <key>sourceSize</key>
                <string>{357,108}</string>
            </dict>
            <key>previoustext.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,112},{287,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,80}}</string>
                <key>sourceSize</key>
                <string>{287,80}</string>
            </dict>
            <key>previoustitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,62}}</string>
                <key>sourceSize</key>
                <string>{249,62}</string>
            </dict>
            <key>tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,194},{168,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,59}}</string>
                <key>sourceSize</key>
                <string>{168,59}</string>
            </dict>
            <key>tuichutext.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{243,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,37}}</string>
                <key>sourceSize</key>
                <string>{243,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>text.png</string>
            <key>size</key>
            <string>{464,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c241ca4be4bb8e2c4c5337d3fc2d6bbc$</string>
            <key>textureFileName</key>
            <string>text.png</string>
        </dict>
    </dict>
</plist>
