<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fouryuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,654},{94,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,42}}</string>
                <key>sourceSize</key>
                <string>{94,42}</string>
            </dict>
            <key>shopping.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{463,650}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,650}}</string>
                <key>sourceSize</key>
                <string>{463,650}</string>
            </dict>
            <key>sixyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,654},{94,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,42}}</string>
                <key>sourceSize</key>
                <string>{94,42}</string>
            </dict>
            <key>tenyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,654},{94,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,42}}</string>
                <key>sourceSize</key>
                <string>{94,42}</string>
            </dict>
            <key>twoyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{94,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,42}}</string>
                <key>sourceSize</key>
                <string>{94,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{467,698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:533b99d537927be056b66d5a15ed5708$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
