<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{120,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,46}}</string>
                <key>sourceSize</key>
                <string>{120,46}</string>
            </dict>
            <key>challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,170},{109,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,89}}</string>
                <key>sourceSize</key>
                <string>{109,89}</string>
            </dict>
            <key>choujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{109,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,89}}</string>
                <key>sourceSize</key>
                <string>{109,89}</string>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,86},{212,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,82}}</string>
                <key>sourceSize</key>
                <string>{212,82}</string>
            </dict>
            <key>exitStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>firsPay.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,170},{109,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,89}}</string>
                <key>sourceSize</key>
                <string>{109,89}</string>
            </dict>
            <key>new_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{212,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,82}}</string>
                <key>sourceSize</key>
                <string>{212,82}</string>
            </dict>
            <key>popText.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,170},{109,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,89}}</string>
                <key>sourceSize</key>
                <string>{109,89}</string>
            </dict>
            <key>popstar5S.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{477,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,242}}</string>
                <key>sourceSize</key>
                <string>{477,242}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{212,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,82}}</string>
                <key>sourceSize</key>
                <string>{212,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menuLayer.png</string>
            <key>size</key>
            <string>{481,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:463774d7e9a71c0750d0588a6299bc34$</string>
            <key>textureFileName</key>
            <string>menuLayer.png</string>
        </dict>
    </dict>
</plist>
