<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gamecontinue.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,103},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>musicoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,103},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>musicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,41},{168,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,60}}</string>
                <key>sourceSize</key>
                <string>{168,60}</string>
            </dict>
            <key>pausewenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,37}}</string>
                <key>sourceSize</key>
                <string>{243,37}</string>
            </dict>
            <key>return.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameset.png</string>
            <key>size</key>
            <string>{247,177}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20c00594e63a254cc78d36fe32bd76fa$</string>
            <key>textureFileName</key>
            <string>gameset.png</string>
        </dict>
    </dict>
</plist>
