<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,161},{109,81}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,81}}</string>
                <key>sourceSize</key>
                <string>{109,89}</string>
            </dict>
            <key>choujiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,577},{75,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{75,89}}</string>
                <key>sourceSize</key>
                <string>{109,89}</string>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,394},{212,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{212,70}}</string>
                <key>sourceSize</key>
                <string>{212,82}</string>
            </dict>
            <key>dialogClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,534},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>firsPay.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,70},{109,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,89}}</string>
                <key>sourceSize</key>
                <string>{109,89}</string>
            </dict>
            <key>fouryuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,466},{94,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,42}}</string>
                <key>sourceSize</key>
                <string>{94,42}</string>
            </dict>
            <key>greente.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,70},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>menuClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,585},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>menuOk.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{180,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,66}}</string>
                <key>sourceSize</key>
                <string>{180,66}</string>
            </dict>
            <key>musicoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,466},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>musicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,166},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>new_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,320},{212,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{212,72}}</string>
                <key>sourceSize</key>
                <string>{212,82}</string>
            </dict>
            <key>popText.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,466},{109,83}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{109,83}}</string>
                <key>sourceSize</key>
                <string>{109,89}</string>
            </dict>
            <key>popstar5S.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{477,240}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,240}}</string>
                <key>sourceSize</key>
                <string>{477,242}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,244},{212,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{212,74}}</string>
                <key>sourceSize</key>
                <string>{212,82}</string>
            </dict>
            <key>sixyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,562},{94,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,42}}</string>
                <key>sourceSize</key>
                <string>{94,42}</string>
            </dict>
            <key>stage_clear_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{418,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,419}}</string>
                <key>sourceSize</key>
                <string>{418,419}</string>
            </dict>
            <key>tenyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,466},{94,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,42}}</string>
                <key>sourceSize</key>
                <string>{94,42}</string>
            </dict>
            <key>twoyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,70},{94,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,42}}</string>
                <key>sourceSize</key>
                <string>{94,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ui.png</string>
            <key>size</key>
            <string>{664,664}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e8b0186b84ee0372a3861a025624f31$</string>
            <key>textureFileName</key>
            <string>Ui.png</string>
        </dict>
    </dict>
</plist>
