<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,335},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>bgStar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,103}}</string>
                <key>sourceSize</key>
                <string>{480,103}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,304},{68,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,77}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>chenghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,211},{33,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,19}}</string>
                <key>sourceSize</key>
                <string>{37,19}</string>
            </dict>
            <key>chexiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,230},{70,69}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>curscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,230},{104,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,36}}</string>
                <key>sourceSize</key>
                <string>{104,36}</string>
            </dict>
            <key>dialogClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,162},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>dialogOk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{164,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{164,60}}</string>
                <key>sourceSize</key>
                <string>{172,66}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,289},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{467,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{467,53}}</string>
                <key>sourceSize</key>
                <string>{467,53}</string>
            </dict>
            <key>guanqia.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,268},{77,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,32}}</string>
                <key>sourceSize</key>
                <string>{77,32}</string>
            </dict>
            <key>heightscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{267,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,30}}</string>
                <key>sourceSize</key>
                <string>{267,30}</string>
            </dict>
            <key>huanse.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,194},{70,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,273},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>level.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,268},{45,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,19}}</string>
                <key>sourceSize</key>
                <string>{45,19}</string>
            </dict>
            <key>menu_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,302},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>nub_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,162},{1,1}}</string>
                <key>offset</key>
                <string>{-7.5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{16,21}</string>
            </dict>
            <key>prog.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{128,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{128,14}}</string>
                <key>sourceSize</key>
                <string>{134,20}</string>
            </dict>
            <key>progbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,208},{134,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,20}}</string>
                <key>sourceSize</key>
                <string>{134,20}</string>
            </dict>
            <key>refurbish.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,302},{68,69}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{68,69}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>sj0.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,346},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>sj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,326},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>sj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,306},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>sj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,286},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>sj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,266},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>sj5.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,358},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>sj6.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,358},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>sj7.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,246},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>sj8.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,268},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>sj9.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,208},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>targetscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,132},{77,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,27}}</string>
                <key>sourceSize</key>
                <string>{77,27}</string>
            </dict>
            <key>tongsexiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,302},{70,69}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{70,69}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>uplev.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{178,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{178,108}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>zengjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,273},{37,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,19}}</string>
                <key>sourceSize</key>
                <string>{37,19}</string>
            </dict>
            <key>zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,213},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>zuanshibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,162},{144,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,44}}</string>
                <key>sourceSize</key>
                <string>{144,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{500,383}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9704671e6bfa769607f0915f633bcfd$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
